In [1]:
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'

In [2]:
open(path).readline()

'{ "a": "Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/535.11 (KHTML, like Gecko) Chrome\\/17.0.963.78 Safari\\/535.11", "c": "US", "nk": 1, "tz": "America\\/New_York", "gr": "MA", "g": "A6qOVH", "h": "wfLQtf", "l": "orofrog", "al": "en-US,en;q=0.8", "hh": "1.usa.gov", "r": "http:\\/\\/www.facebook.com\\/l\\/7AQEFzjSi\\/1.usa.gov\\/wfLQtf", "u": "http:\\/\\/www.ncbi.nlm.nih.gov\\/pubmed\\/22415991", "t": 1331923247, "hc": 1331822918, "cy": "Danvers", "ll": [ 42.576698, -70.954903 ] }\n'

In [3]:
import json

In [4]:
records = [json.loads(line) for line in open(path, 'rb')]

In [5]:
records[0]

{u'a': u'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 u'al': u'en-US,en;q=0.8',
 u'c': u'US',
 u'cy': u'Danvers',
 u'g': u'A6qOVH',
 u'gr': u'MA',
 u'h': u'wfLQtf',
 u'hc': 1331822918,
 u'hh': u'1.usa.gov',
 u'l': u'orofrog',
 u'll': [42.576698, -70.954903],
 u'nk': 1,
 u'r': u'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 u't': 1331923247,
 u'tz': u'America/New_York',
 u'u': u'http://www.ncbi.nlm.nih.gov/pubmed/22415991'}

In [6]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]

In [7]:
from collections import Counter
c = Counter
c(time_zones)

Counter({u'': 521,
         u'Africa/Cairo': 3,
         u'Africa/Casablanca': 1,
         u'Africa/Ceuta': 2,
         u'Africa/Johannesburg': 1,
         u'Africa/Lusaka': 1,
         u'America/Anchorage': 5,
         u'America/Argentina/Buenos_Aires': 1,
         u'America/Argentina/Cordoba': 1,
         u'America/Argentina/Mendoza': 1,
         u'America/Bogota': 3,
         u'America/Caracas': 1,
         u'America/Chicago': 400,
         u'America/Chihuahua': 2,
         u'America/Costa_Rica': 1,
         u'America/Denver': 191,
         u'America/Edmonton': 6,
         u'America/Guayaquil': 2,
         u'America/Halifax': 4,
         u'America/Indianapolis': 20,
         u'America/La_Paz': 1,
         u'America/Lima': 1,
         u'America/Los_Angeles': 382,
         u'America/Managua': 3,
         u'America/Mazatlan': 1,
         u'America/Mexico_City': 15,
         u'America/Monterrey': 1,
         u'America/Montevideo': 1,
         u'America/Montreal': 9,
         u'America/New_York': 1251,
         u'America/Phoenix': 20,
         u'America/Puerto_Rico': 10,
         u'America/Rainy_River': 25,
         u'America/Recife': 2,
         u'America/Santo_Domingo': 1,
         u'America/Sao_Paulo': 33,
         u'America/St_Kitts': 1,
         u'America/Tegucigalpa': 1,
         u'America/Vancouver': 12,
         u'America/Winnipeg': 4,
         u'Asia/Amman': 2,
         u'Asia/Bangkok': 6,
         u'Asia/Beirut': 4,
         u'Asia/Calcutta': 9,
         u'Asia/Dubai': 4,
         u'Asia/Harbin': 3,
         u'Asia/Hong_Kong': 10,
         u'Asia/Istanbul': 9,
         u'Asia/Jakarta': 3,
         u'Asia/Jerusalem': 3,
         u'Asia/Karachi': 3,
         u'Asia/Kuala_Lumpur': 3,
         u'Asia/Kuching': 1,
         u'Asia/Manila': 1,
         u'Asia/Nicosia': 1,
         u'Asia/Novosibirsk': 1,
         u'Asia/Pontianak': 1,
         u'Asia/Riyadh': 1,
         u'Asia/Seoul': 5,
         u'Asia/Tokyo': 37,
         u'Asia/Yekaterinburg': 1,
         u'Australia/NSW': 6,
         u'Australia/Queensland': 1,
         u'Chile/Continental': 6,
         u'Europe/Amsterdam': 22,
         u'Europe/Athens': 6,
         u'Europe/Belgrade': 2,
         u'Europe/Berlin': 28,
         u'Europe/Bratislava': 3,
         u'Europe/Brussels': 4,
         u'Europe/Bucharest': 4,
         u'Europe/Budapest': 5,
         u'Europe/Copenhagen': 5,
         u'Europe/Dublin': 3,
         u'Europe/Helsinki': 10,
         u'Europe/Lisbon': 8,
         u'Europe/Ljubljana': 1,
         u'Europe/London': 74,
         u'Europe/Madrid': 35,
         u'Europe/Malta': 2,
         u'Europe/Moscow': 10,
         u'Europe/Oslo': 10,
         u'Europe/Paris': 14,
         u'Europe/Prague': 10,
         u'Europe/Riga': 2,
         u'Europe/Rome': 27,
         u'Europe/Skopje': 1,
         u'Europe/Sofia': 1,
         u'Europe/Stockholm': 14,
         u'Europe/Uzhgorod': 1,
         u'Europe/Vienna': 6,
         u'Europe/Vilnius': 2,
         u'Europe/Volgograd': 1,
         u'Europe/Warsaw': 16,
         u'Europe/Zurich': 4,
         u'Pacific/Auckland': 11,
         u'Pacific/Honolulu': 36})

In [8]:
from collections import defaultdict

In [9]:
def counts(x):
    dd = defaultdict(int)
    for item in x:
        dd[item] += 1
    return dd

In [10]:
cc = counts(time_zones)

In [11]:
cc['America/New_York']

1251

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(records)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
_heartbeat_    120 non-null float64
a              3440 non-null object
al             3094 non-null object
c              2919 non-null object
cy             2919 non-null object
g              3440 non-null object
gr             2919 non-null object
h              3440 non-null object
hc             3440 non-null float64
hh             3440 non-null object
kw             93 non-null object
l              3440 non-null object
ll             2919 non-null object
nk             3440 non-null float64
r              3440 non-null object
t              3440 non-null float64
tz             3440 non-null object
u              3440 non-null object
dtypes: float64(4), object(14)
memory usage: 500.7+ KB

In [15]:
df.head()

,_heartbeat_,a,al,c,cy,g,gr,h,hc,hh,kw,l,ll,nk,r,t,tz,u
0,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Danvers,A6qOVH,MA,wfLQtf,1.331823e+09,1.usa.gov,NaN,orofrog,"[42.576698, -70.954903]",1.0,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,1.331923e+09,America/New_York,http://www.ncbi.nlm.nih.gov/pubmed/22415991
1,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1.308262e+09,j.mp,NaN,bitly,"[40.218102, -111.613297]",0.0,http://www.AwareMap.com/,1.331923e+09,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
2,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-US,US,Washington,xxr3Qb,DC,xxr3Qb,1.331920e+09,1.usa.gov,NaN,bitly,"[38.9007, -77.043098]",1.0,http://t.co/03elZC4Q,1.331923e+09,America/New_York,http://boxer.senate.gov/en/press/releases/0316...
3,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,pt-br,BR,Braz,zCaLwp,27,zUtuOu,1.331923e+09,1.usa.gov,NaN,alelex88,"[-23.549999, -46.616699]",0.0,direct,1.331923e+09,America/Sao_Paulo,http://apod.nasa.gov/apod/ap120312.html
4,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Shrewsbury,9b6kNl,MA,9b6kNl,1.273672e+09,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0.0,http://www.shrewsbury-ma.gov/selco/,1.331923e+09,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...

In [16]:
tz_counts = df['tz'].value_counts()
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Name: tz, dtype: int64

In [17]:
clean_df = df['tz'].fillna('Missing')

In [18]:
df.columns

Index([u'_heartbeat_', u'a', u'al', u'c', u'cy', u'g', u'gr', u'h', u'hc',
       u'hh', u'kw', u'l', u'll', u'nk', u'r', u't', u'tz', u'u'],
      dtype='object')

In [19]:
df['a'].head(10)

0    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
1                               GoogleMaps/RochesterNY
2    Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...
3    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...
4    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
5    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
6    Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...
7    Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/2...
8    Opera/9.80 (X11; Linux zbov; U; en) Presto/2.1...
9    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
Name: a, dtype: object

In [20]:
results = pd.Series([x.split()[0] for x in df.a.dropna()])
results[:10]

0               Mozilla/5.0
1    GoogleMaps/RochesterNY
2               Mozilla/4.0
3               Mozilla/5.0
4               Mozilla/5.0
5               Mozilla/5.0
6               Mozilla/5.0
7               Mozilla/5.0
8                Opera/9.80
9               Mozilla/5.0
dtype: object

In [21]:
results.value_counts()[:10]

Mozilla/5.0                 2594
Mozilla/4.0                  601
GoogleMaps/RochesterNY       121
Opera/9.80                    34
TEST_INTERNET_AGENT           24
GoogleProducer                21
Mozilla/6.0                    5
BlackBerry8520/5.0.0.681       4
Dalvik/1.4.0                   3
BlackBerry8520/5.0.0.592       3
dtype: int64

In [22]:
import numpy as np

In [23]:
cdf = df[df.a.notnull()]

In [24]:
operating_system = np.where(cdf.a.str.contains('Windows'), 'Windows', 'Not Windows')

In [25]:
operating_system[:5]

array(['Windows', 'Not Windows', 'Windows', 'Not Windows', 'Windows'],
      dtype='|S11')

In [26]:
by_tz_os = cdf.groupby(['tz', operating_system])

In [27]:
agg_counts = by_tz_os.size().unstack().fillna(0)
agg_counts[:10]

                                Not Windows  Windows
tz
                                      245.0    276.0
Africa/Cairo                            0.0      3.0
Africa/Casablanca                       0.0      1.0
Africa/Ceuta                            0.0      2.0
Africa/Johannesburg                     0.0      1.0
Africa/Lusaka                           0.0      1.0
America/Anchorage                       4.0      1.0
America/Argentina/Buenos_Aires          1.0      0.0
America/Argentina/Cordoba               0.0      1.0
America/Argentina/Mendoza               0.0      1.0

In [28]:
import matplotlib.pyplot as plt
%matplotlib inline

### MovieLens 1M Data Set

In [29]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('../ml-1m/users.dat', sep = '::', header = None, names = unames)

/home/rnjeri/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [ ]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [ ]:
rnames = ['user_id','movie_id', 'rating', 'timestamp']
ratings = pd.read_table('../ml-1m/ratings.dat', sep = '::', header = None, names = rnames)

/home/rnjeri/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [ ]:
ratings[:4]

In [ ]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('../ml-1m/movies.dat', sep = '::', header = None, names = mnames)

In [ ]:
movies[:5]

In [ ]:
ratings

In [ ]:
data = pd.merge(pd.merge(ratings, movies),users)

In [ ]:
data.ix[0]

In [ ]:
mean_ratings = data.pivot_table('rating', index = 'title', columns='gender', aggfunc='mean')
mean_ratings[:5]

In [ ]:
ratings_by_title = data.groupby('title').size()

In [ ]:
ratings_by_title[:5]

In [ ]:
active_titles = ratings_by_title[ratings_by_title >= 250]

In [ ]:
active_titles.head()

In [ ]:
mean_ratings = mean_ratings.ix[active_titles]

In [ ]:
top_female_ratings = mean_ratings.sort_index(by = 'F', ascending = False)

In [ ]:
top_female_ratings[:10]

In [ ]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [ ]:
sorted_by_diff = mean_ratings.sort_index(by = 'diff')

In [ ]:
sorted_by_diff[:10]

In [ ]:
rating_std_by_title = data.groupby('title')['rating'].std()

In [ ]:
rating_std_by_title[:10]

In [ ]:
import pandas as pd

In [ ]:
names1880 = pd.read_csv('yob1880.txt', names = ['name', 'sex', 'birthrs'])

In [ ]:
names1880.head()

In [ ]:
names1880.groupby('sex').sum()

In [ ]:
years = range(1880, 2016)

In [ ]:
pieces =[]
columns = ['name', 'sex', 'births']

In [ ]:
for year in years:
    path = 'yob%d.txt' % year
    frame = pd.read_csv(path, names = columns)
    
    frame['year'] = year
    pieces.append(frame)

In [ ]:
names = pd.concat(pieces, ignore_index=True)

In [ ]:
total_births = names.pivot_table('births', index = 'year', columns = 'sex', aggfunc= sum)

In [ ]:
total_births.tail()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
total_births.plot(title = 'total births by sex and year')

In [ ]:
def add_prop(group):
    births = group.births
    group['prop'] = births/births.sum()
    return group

In [ ]:
names = names.groupby(['year', 'sex']).apply(add_prop)

In [ ]:
names.head()